<ion-list padding-top>
  <ion-list-header mode="md" color="light">
      <ion-label>Starting 11</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let player of startList">
      <ion-badge slot="start">{{player.jerseyNumber}}</ion-badge>
      <ion-label>{{player.playerName}}</ion-label>
    </ion-item>
  <ion-list-header mode="md" color="light">
      <ion-label>Substitutes</ion-label>
  </ion-list-header>
  <ion-item *ngFor="let player of subsList">
      <ion-badge slot="start">{{player.jerseyNumber}}</ion-badge>
      <ion-label>{{player.playerName}}</ion-label>
    </ion-item>
</ion-list>
