<ion-tabs (ionChange)="transition($event)">
  <ion-tab label="News" icon="paper" href="/tabs/(news:news)">
    <ion-router-outlet name="news"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Matches" icon="calendar" href="/tabs/(matches:matches)">
    <ion-router-outlet name="matches"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Teams" icon="contacts" href="/tabs/(teams:teams)">
    <ion-router-outlet name="teams"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Twitter" icon="logo-twitter" href="/tabs/(twitter:twitter)">
    <ion-router-outlet name="twitter"></ion-router-outlet>
  </ion-tab>
</ion-tabs>
