.custom-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
}

.grid-style {
    border-bottom: 1px solid lightgrey;
    padding: 5px;
}